{% extends 'base.html' %}
{% block body %}
<style>
    .form-container {
        width: 100%; /* Adjust the width as needed */
        margin: 0 auto; /* This centers the container horizontally */
        text-align: center; /* This centers the content inside the container */

    }
</style>
<div class="form-container">
    <form method="POST">
        {% csrf_token %}
        <h2>Are you sure you want to delete {{ item.item_name }}?</h2>
        <button type="submit" class="btn btn-danger">Confirm</button>
    </form>
</div>
{% endblock %}