{% extends 'base.html' %}
{% block body %}
    <div class="row>">
        <div class="col-md-3 mb-4">
                    <img class="card" style="height: 450px; width: 600px; margin-bottom: 10px;" src="{{ item.item_image }}">
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ item.item_name }}</h2>
            </div>
            <div class="col-md-12">
                <h5>Description: {{ item.item_desc }}</h5>
            </div>
            <div class="col-md-12">
                <h6>Price: ₹ {{ item.item_price }}</h6>
            </div>
            <div class="col-md-12">
                <h6>Rating: {{ item.item_rating}}/10</h6>
            </div>
            <div class="col-md-12">
                <a type="button" class="btn btn-danger" href="{% url 'delete_item' item.id %}">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}